.nav-link{
    font-size: 20px;

}

.bd{
    text-align: center!important;
    display:inline-block!important;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;
}

.cb{
    display: inline;
}

.cb a{
    padding: 10px;
    font-size: large;
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
}
.navbar-toggler {
    outline: none!important;
    box-shadow: none!important;
    border: none!important;
    padding: 1px!important;
}
.navbar-brand {
    text-align: left!important;
    font-size: 0.8rem!important;
}
.btn-sm a{
padding-top: 0px;
padding-bottom: 0px;
font-size:5px;
}
