*{
  font-family: Kanit, sans-serif;
}
::-webkit-scrollbar {
    display: none;
}


html, body{
    background: black;
    height: 100%;
    color: #FFD700;
    position: relative;
}

.about{
    background: black;
    position: relative;
}

.nav-link{
    font-size: 20px;
}

.bd{
    text-align: center!important;
    display:inline-block!important;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;
}

.cb{
    display: inline;
}

.cb a{
    padding: 10px;
    text-align: left;
    font-size: large;
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
}

.s{
    border: 1px groove #FFD700;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1023;
    background-color:black;
    color: #FFD700;
}
.v{
    background-color: #FFD700!important;
    border-top-left-radius: 20px!important;
    border-top-right-radius: 20px!important;
    text-align: left;
    font-size: 1.3rem;
    color:#fff;
}
.m{
    background-color: #FFD700!important;
    border-bottom-left-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
    text-align: center;
    font-size: 1.3rem;
}
.btn-info{
    background-color: black!important;
    border-color: black!important;
    border-radius: 15px!important;
    margin-top: 1%;
    font-size: 1.5rem!important;
    color: #fff!important;
}

.z1{
    width: 80px;
    justify-content: start;
    padding: 10px;
    text-align: center;
}
.z2{
    width: 80px;
    justify-content: end;
    padding: 10px;
    text-align: center;
}
.z3{
    width: 80px;
    justify-content: start;
    padding: 10px;
    text-align: center;
}
.z4{
    width: 80px;
    justify-content: end;
    padding: 10px;
    text-align: center;
}
.mp{
    margin-left: 10%;
    display: inline-block;
    text-align: center;
}
.mp1{
    margin-right: 10%;
    float: right;
    text-align: center;
}
.card-body{
    font-size: 1rem;
    text-align: left;
}
.card-bodyv{
    flex: 1 1 auto;
    padding: 1rem 1rem 0rem 1rem;
    text-transform: uppercase;
    font-weight: bolder;
}
.card-body0{
    font-size: 1rem;
    text-align: center;
    margin: 5%;
    padding: 5%;
    border: 1px solid transparent;
    align-items: center;
    border-radius: 10px;
    background-color: #FFD700;
    display: flex;
    font-family: inherit;
}
.ic{
    padding: 7%;
    text-align: center;
}
.ic a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    font-size: 1rem;
    color: #FFD700;
}
.vv{
    font-size: 1rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    color: #fff;
}

.dom{
    text-align: left;
    display: inline-flex;
    font-size: 1.2rem;
    color: rgb(245, 78, 0);
}
.byt{
    width: 100%;
    background: #000;
    border:2px solid #FFD700;
    border-radius: 24px;
    color: #FFD700;
    overflow: hidden;
    position: relative;
    padding: 1px 1px 3px;
    align-items: center;
}
.nfts{
    align-items: center;
    margin:5%;
    padding:5%;
    width:40%;
    background: #000;
    border-radius: 24px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(60%, 5%);
    overflow-x: scroll;
    border:2px solid #FFD700;
    box-shadow: 20px 10px 25px rgb(255 255 255 / 20%);
}
#nftimg{
    margin-top:-15%;
    padding: 5%;
}
#nfttxt{
    font-weight: 900;
    font-size: 1.2rem;
    padding: 5px;
    text-transform: uppercase;
}
#nftdsc{
    font-size: 0.8rem;
    padding-top: 5%;
    font-weight: 500;
}
.byt2{
    width: 100%;
    background: #000;
    border:2px solid #FFD700;
    border-radius: 24px;
    color: #FFD700;
    overflow: hidden;
    position: relative;
    padding: 1px 1px 3px;
    display: block;
    margin-bottom: 3%;
}
.nfts2{
    align-items: center;
    margin:5%;
    padding:5%;
    width:40%;
    background: #000;
    border-radius: 24px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(60%, 5%);
    color: #FFD700;
    overflow-x: scroll;
    background-color: #171717;
    box-shadow: 20px 10px 25px rgb(255 255 255 / 20%);
}
#nftimg2{
    padding: 5%;
}
#nftimg2 img{
    border-radius: 50%;
}
#nftimg3{
    margin-top:-15%;
    padding: 7%;
    align-items: center;
}
#nftimg3 img{
  height: 350px;
  width: 350px;
    border-radius: 50%;
}
#nfttxt2{
    font-weight: 900;
    font-size: 1.2rem;
    padding: 5px;
    text-transform: uppercase;
}
#nftdsc2{
    font-size: 1rem;
    padding-top: 5%;
    font-weight: 500;
}
.h{
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;
}
.h2{
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    padding: 1%;
}
.preloader{
z-index: 9999;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#000;
display:flex;
justify-content:center;
align-items:center;
object-fit: contain;
}
.preloader img{
  width: 1920px;
  height: 500px;
  object-fit: contain;
}
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit:fill;
}
.hy{
    position: fixed;
    height: 100%;
    width: 100%;
    color: #FFD700;
}
.hy li a{
    color: #FFD700;
}
.by ul li a{
    color: #FFD700!important;
}
.db a{
    border-color: #4b4b4b;
    color: #FFD700;
}
.db a:hover{
    background-color: #FFD700;
}
#sh{
    border-color: #FFD700;
    color: #FFD700;
}
#sh:hover{
    background-color: transparent;
    color: #FFD700;
    cursor:pointer;
}
#hero {
    width: 100%;
    height: 100vh;
    background: black top center;
    background-size: cover;
    position: relative;
    margin-bottom: -70px;
    background-repeat: no-repeat;
  }
  @media (max-width: 992px) {
    #hero {
      margin-bottom: -60px;
    }
  }
  #hero:before {
    content: "";
    background: transparent;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
#hero img{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit:contain;
    z-index: 0;
}
#hero #bg{
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit:cover;
  z-index: 0;
}
#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 60px;
    margin-left: 350px;
    border: 2px solid #4b4b4b;
    color: #FFD700;
    text-decoration: none;
    position: fixed;
  }
  #hero .btn-get-started:hover {
    background: #FFD700;
    color: #fff;
    border: 2px solid #FFD700;
  }
  @media (max-width: 992px) {
    #hero img{
      margin-bottom: -60px;
    }
  }
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }


.container{
    margin-top: 5%;
    position: relative;
    color:#FFD700;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/ 
  .section-title {
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #FFD700;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #FFD700;
    bottom: 0;
  }
  .section-title p {
    margin-bottom: 0;
    color: #919191;
    font-size: 14px;
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .content p:last-child {
    margin-bottom: 1%;
  }
.btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #FFD700;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #4b4b4b;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
.btn-learn-more:hover {
    background: #FFD700;
    color: #fff;
    text-decoration: none;
  }

.offset{
    margin-top: 70px;
}

.card2{
    width:50%;
    margin:auto;
    background-color: #171717;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 5%;
    box-shadow: 20px 10px 25px rgb(255 255 255 / 20%);
}
.card3{
    margin:auto;
    background-color: #171717;
    border-radius: 16px;
    padding: 50px;
    margin-bottom: 5%;
    box-shadow: 20px 10px 25px rgb(255 255 255 / 20%);
}
.row2{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 512px){
    .row2{
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nfts2{
        margin-bottom: 10%;
        width: 60%;
        transform: translate(30%, 5%);
    }
    .nfts {
      width: auto;
      transform: translate(2%, 5%);
  }
}
.flex{
    opacity: 1;
}
.vd{
    color: #FFD700;
}

.right{
  width: 45%;
    float: right;
    margin-top: 100px;
    margin-right: 30px;
}

.center{
    height: 100%;
    margin-top: 145px;
    left: 40%;
    position: absolute;
}
@media (max-width: 512px){
  .center{
    height: 100%;
    margin-top: 145px;
    left: 0%;
    position: absolute;
}
.right{
    float: right;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 60px;
    width: auto;
}
.card2{
  width: auto;
}
.card3{
width: 90%;
}
#nftimg3{
  padding: 0px;
}
#nftimg3 img{
  height:90%;
  width:90%;
  border-radius: 10%;
  margin-bottom: 5%;
}
.nfts2{
  width: auto;
  transform: translate(2%, 5%);
}
#hero .btn-get-started {
  margin-top: 350px;
  margin-left: 0px;
  font-size: 16px;
  padding: 10px 20px;
}
.navbar-toggler{
  padding: 0px!important;
  border: 0px!important;
}
.navbar>.container-fluid{
  justify-content: center!important;
}
.s{
  width: 90%;
}
.float-end2{
  float: none!important;
}
}

.float-end2{
  float: right;
}

.zyt{
    display: inline-block;
    width: 100%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    align-items: center;
    margin-top: 0%;
    margin-bottom:50px;
    background: #000;
    text-align: center;
    left: 50%;
    top: 50%;
    height: 100%;
    color: #FFD700;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    padding:5%;
    border-radius: 24px;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: inline-block;
    background-color: #171717;
    box-shadow: 20px 10px 25px rgb(255 255 255 / 20%);
  }

  /* Position the front and back side */
 .flip-card-back {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    text-transform: uppercase;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: transparent;
    color: inherit;
    font-size: 1rem;
  }
  
  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/ 
.section-title2 {
    padding-bottom: 30px;
  }
  .section-title2 h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #FFD700;
  }
  .section-title2 h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #FFD700;
    bottom: 0;
  }
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
.btn-learn-more2 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #FFD700;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #4b4b4b;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
.btn-learn-more2:hover {
    background: #FFD700;
    color: #fff;
    text-decoration: none;
  }

  .timeline .draw-line {
    width: 4px;
    height: 0;
    position: absolute;
    left: calc(60% + 10px);
    background: #20a474;
}

.timeline .default-line {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: 14px;
    width: 4px;
    background: linear-gradient(
180deg,#120510,#51454e 5.44%,#120510 40.38%,#554952 85.3%,#1c0f19);
    height: calc(100% - 250px);
}

.timeline ul li{
    list-style-type: none;
    position: relative;
    width: 4px;
    margin: 0 auto;
    height: 650px;
    background: 0 0;
}

.timeline ul li:before {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: inherit;
    background: #bdc3c7;
    transition: all .4s ease-in-out;
    border: 6px solid #20a474;
}
.timeline ul li:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline ul li.in-view:before {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(img/tick.png)!important;
    background: #FFD700;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .125s ease-in-out,background-color .2s ease-out,color .1s ease-out,border .1s ease-out;
}

.timeline ul li.in-view:before, .timeline ul li:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.timeline ul li.in-view:before {
    border: none;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: center center no-repeat;
    color: #FFD700;
    font-size: 14px;
    position: relative;
  }
  #footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(2, 0, 2, 0.6);
    z-index: 1;
  }
  #footer .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 80px 0;
  }
  #footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #FFD700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #footer .footer-top p {
    font-size: 15;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
  }
  #footer .footer-top .footer-newsletter {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
  }
  #footer .footer-top .footer-newsletter form {
    background: #FFD700;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #ff7f5d;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #FFD700;
  }
  #footer .footer-top .social-links {
    margin-top: 30px;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #FFD700;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #FFD700;
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-bottom {
    border-top: 1px solid #FFD700;
    z-index: 2;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #footer .copyright {
    float: left;
  }
  #footer .credits {
    float: right;
    font-size: 13px;
  }
  @media (max-width: 768px) {
    #footer .copyright, #footer .credits {
      float: none;
      text-align: center;
    }
    #footer .credits {
      padding-top: 5px;
    }
  }
